@import "tailwindcss";

@theme {
  --color-primary-50: #f0fdf4;
  --color-primary-100: #dcfce7;
  --color-primary-500: #22c55e;
  --color-primary-600: #16a34a;
  --color-primary-700: #15803d;
  --color-primary-800: #166534;
  --color-primary-900: #14532d;

  --color-accent-500: #d97706;
  --color-accent-600: #b45309;

  --color-surface-50: #f9fafb;
  --color-surface-100: #f3f4f6;
  --color-surface-200: #e5e7eb;

  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-surface-50);
    color: #1e293b;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
